# Each record contains the caller ID data received between the first and
# second rings of a call. CR and LF characters have been replaced with
# '-'s. The current year has also been appended to the DATE field
# (DATE = MMDDYY).
--DATE = 010310--TIME = 1320--NMBR = 5088646194--NAME = Cell Phone   MA--
--DATE = 010810--TIME = 1304--NMBR = 8662524822--NAME = 800 Service    --
--DATE = 011010--TIME = 2042--NMBR = 2024613440--NAME = Washington   DC--
--DATE = 011310--TIME = 1835--NMBR = 8774673277--NAME = SEARS          --
--DATE = 021110--TIME = 1149--NMBR = 2024957134--NAME = SERVICE ANNOUNC--
--DATE = 022110--TIME = 1147--NMBR = 9785345148--NAME = PEARLE VISION C--
--DATE = 022310--TIME = 1606--NMBR = 5163084493--NAME = CONTRACT SVCS.--
--DATE = 022410--TIME = 1815--NMBR = 9789091138--NAME = SCOTTS LAWN SVC--
--DATE = 022510--TIME = 1824--NMBR = 885--NAME = O--
--DATE = 022610--TIME = 1848--NMBR = 2024957142--NAME = POLITICAL HOLD --
--DATE = 030410--TIME = 1314--NMBR = 7072912808--NAME = Cell Phone   CA--
--DATE = 031310--TIME = 1058--NMBR = 6033823785--NAME = MORTGAGE SPECIA--
--DATE = 051310--TIME = 1425--NMBR = 4015580038--NAME = AMERICAN MANAGM--
